 
<!--=============== Left side End ================-->
<!-- ============ Body content start ============= -->
<div class="main-content-wrap sidenav-open d-flex flex-column">
    <div class="breadcrumb">
        <h1 style="direction:rtl ;">فرم ثبت درخواست</h1>

    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row" style="float: left !important;">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title mb-3">Form Inputs</div>
                    <form>
                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="firstName1">نام کنفرانس</label>
                                <input type="text" class="form-control" id="firstName1" placeholder="نام کنفرانس را وارد کنید">
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="phone">ادرس همایش</label>
                                <input class="form-control" id="phone" placeholder="ادرس همایش را وارد کنید ">
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="exampleInputEmail1">مکان همایش</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="مکان همایش را وارد کنید">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="lastName1">توصیحات</label>
                                <input type="text" class="form-control" id="lastName1" placeholder="توضیحات را وارد">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="picker2">تاریخ</label>
                                <input id="picker2" class="form-control" placeholder="yyyy-mm-dd" name="dp">
                            </div>


                            <div class="col-md-12">
                                <button class="btn btn-primary">ثبت</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>


</div>
<!-- ============ Body content End ============= -->
 