


    <!-- ============ Body content start ============= -->
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <div class="breadcrumb">
            <h1>Table</h1>
            <ul>
                <li><a href="">Componets</a></li>
                <li>Table</li>
            </ul>
        </div>

        <div class="separator-breadcrumb border-top"></div>




        <div class="row mb-4">


            <div class="col-md-12 mb-4">
                <div class="card text-left">

                    <div class="card-body">
                        <h4 class="card-title mb-3 float-right"> برسی درخواست ها </h4>

                        <div class="table-responsive">
                            <table class="table table-hover table-dark ">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">نام و نام خانوادگی </th>
                                        <th scope="col">توضیحات</th>
                                        <th scope="col">مبلغ</th>
                                        <th scope="col">وصعیت</th>
                                        <th scope="col">تاریخ</th>
                                        <th scope="col">برسی</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Smith Doe</td>
                                        <td>

                                            <img class="rounded-circle m-0 avatar-sm-table " src="/assets/images/faces/1.jpg" alt="">

                                        </td>

                                        <td>Smith@gmail.com</td>
                                        <td><span class="badge badge-success">Active</span></td>
                                        <td>
                                            <button type="button" class="btn btn-success ">
                                                <i class="nav-icon i-Pen-2 "></i>
                                            </button>
                                            <button type="button" class="btn btn-danger ">
                                                <i class="nav-icon i-Close-Window "></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jhon Doe</td>
                                        <td>

                                            <img class="rounded-circle m-0 avatar-sm-table " src="/assets/images/faces/1.jpg" alt="">

                                        </td>

                                        <td>Jhon@gmail.com</td>
                                        <td><span class="badge badge-info">Pending</span></td>
                                        <td>
                                            <button type="button" class="btn btn-success ">
                                                <i class="nav-icon i-Pen-2 "></i>
                                            </button>
                                            <button type="button" class="btn btn-danger ">
                                                <i class="nav-icon i-Close-Window "></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Alex</td>
                                        <td>

                                            <img class="rounded-circle m-0 avatar-sm-table " src="/assets/images/faces/1.jpg" alt="">

                                        </td>

                                        <td>Otto@gmail.com</td>
                                        <td><span class="badge badge-warning">Not Active</span></td>
                                        <td>
                                            <button type="button" class="btn btn-success ">
                                                <i class="nav-icon i-Pen-2 "></i>
                                            </button>
                                            <button type="button" class="btn btn-danger ">
                                                <i class="nav-icon i-Close-Window "></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end of col-->

        </div>
        <!-- end of row-->








    </div>
    <!-- ============ Body content End ============= -->
<!--=============== End app-admin-wrap ================-->