<!--=============== Left side End ================-->
<!-- ============ Body content start ============= -->
<div class="main-content-wrap sidenav-open d-flex flex-column">
    <div class="breadcrumb">
        <h1 style="direction:rtl ;">ثبت وام صندوق</h1>

    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row" style="float: left !important;">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title mb-3">Form Inputs</div>
                    <form>
                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="firstName1">نام صندوق</label>
                                <input type="text" class="form-control" id="firstName1" placeholder="نام صندوق را وارد کنید">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="lastName1">توضیحات</label>
                                <input type="text" class="form-control" id="lastName1" placeholder="توضیحات را وارد کنید">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="exampleInputEmail1">مقدار وام موجود</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="مقدار وام را وارد کنید">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="phone">تعداد افراد</label>
                                <input class="form-control" id="phone" placeholder="تعداد افرادی که میتوانند از وام استفاده کنند را وارد کنید">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="credit1">حچم</label>
                                <input class="form-control" id="credit1" placeholder="حجم وام را وارد کنید">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="picker2">تاریخ شروع</label>
                                <input id="picker2" class="form-control" placeholder="yyyy-mm-dd" name="dp">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="picker2">تاریخ پایان</label>
                                <input id="picker2" class="form-control" placeholder="yyyy-mm-dd" name="dp">
                            </div>



                            <div class="col-md-12">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>


</div>
<!-- ============ Body content End ============= -->
<!--=============== End app-admin-wrap ================-->
